html, body{
    min-height: 100%;
	box-sizing: border-box;
	height: calc(100vh - 60px);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJ79+79zwjjgzjOzs6MYAEYB8RmROaABADs6w8790kIwwAAAABJRU5ErkJggg==);
}

.view-holder{
margin-bottom: 60px;
margin-top: 60px;
}

.view-holder, div.nav, footer{
	display: none;
}
*:not(.glyphicon){
	font-family: Robo-light;
}
@font-face {
    font-family: Robo-light;
    src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Robo-bold;
    src: url(/fonts/Roboto-Bold.ttf);
}

.loader {
  z-index: 1001;
  position: fixed;
  margin-left: calc(50% - 60px);
  top: calc(50% - 60px);
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #9E9E9E;
  border-bottom: 16px solid #9E9E9E;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-bold{
	font-family: Robo-bold;
}
.nav li{
	font-family: Robo-light;
    display: inline-block;
    color: dimgray;
    font-weight: bold;
    text-transform: uppercase;
}


#search-reasult{
	overflow: auto;
    max-height: 500px;
    width: auto;
}

.nav li {
    margin-top: 20px;
    margin-left: 10px;
}
.nav .container {
	height: 60px;
}

.jumbotron {
    background-image: url(/images/miasto2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center 10%; 
}

.jumbotron
{
  	position:relative;       
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.jumbotron:before, .jumbotron:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.jumbotron .container h1, 
.jumbotron .container p {
    color: floralwhite;
    background: rgba(0,0,0,0.5);
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
.jumbotron .container p.sentence2 {
	font-family: Robo-bold;
    color: #474747;
    background: rgba(256,256,256,0.8);
}

.jumbotron .container {
    position: relative;
    top: 50%;
}

img {
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease;
}

.nav img {
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease;
    height: 35px;
    width: auto;
}

img:hover {
    -webkit-filter: grayscale(0);
}

.neighborhood-guider .row .thumbnail {
    height: 350x;
    width: 350px;

}

.thumbnail{
	border-radius: 10px;
	padding: 15px;
	transition: all, 0.3s
}

.thumbnail:hover{
	box-shadow: 0 0 5px 0 rgba(85, 85, 85, 0.4);
}

/* .bootstrap-datetimepicker-widget td.active{
	background-color: #7f7f7f !important;
} */
.panel {
    padding: 2px;
}

.btn{
	border-radius: 20px;
	padding: 7px;
    font-size: large;
	width: 100%;
	color: #ffffff;
    background-color: #337ab7;
}

span.select2{
	width: 100% !important;
}



/*FOOTER*/
footer{
    background: #383838;
	padding-top: 18px;
	height: 50px;
	
	position: absolute;
	width: 100%;
}

.dark-line{
	border-top: 1px solid #525252;
}

.white-txt{
	color: #FFF;
}

/*NAVBAR*/
div.nav{
	heigh: 70px;
	width: 100%;
    background: white;
}

@media screen and (max-width: 900px) {
	div.nav ul {
		padding-left: 0px;
	}
}	

