<!DOCTYPE html>
<html>
    
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-2">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/libs/moment.js"></script>
	<script type="text/javascript" src="/libs/handlebars.min-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/libs/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
    
<body>
	<div class="loader"></div>

	<!--NAV -->
	<div class="nav navbar-fixed-top">
		<div class="container">
			<ul class="pull-left">
				<li>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</li>
				<li>Home</li>
				<li>Stats</li>
				<li>More</li>
			</ul>
			<ul class="pull-right">
				<li>EN</li>
				<li>PL</li>
				<li>ES</li>
			</ul>
		</div>
	</div>
	
	<div class="view-holder">
		
		<!--JUMBOTRON -->
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<h1>"Travel is the only thing you buy that makes you richer"</h1>
				</div>
				<div class="row">
				   <p class="sentence2">Where are you going today?</p>
				</div>
			</div>
		</div>
		
		<!-- NEIGHBORHOOD-GUIDES -->
		<div class="search-field-container">
		   <div class="container">
			   <div id="insert-container" class="row">
			       


					
			   </div>
				
		   </div> 
		</div>
		
	</div>
	  <!-- Footer -->
	<footer class="text-center foot footer navbar-fixed-bottom">
			<div class="copyrights">
				<p class="white-txt">Flight Search &copy; 2017</p>
			</div>
	</footer>
	
	  <!-- Modal -->
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">

		  <!-- Modal content -->
		  <div class="modal-content">
			<div class="modal-body">
			  <h3 class="text-bold">Choose Flight</h3>
			  <div class="alert alert-danger">
				  <span class="warning">Basic presentation of data due to lack of time :(</span>
			  </div>
			  <hr>
			  <div class="container" id="search-reasult"></div>
			</div>
		  </div>
		</div>
	</div>

    <script src="/components/formComponent.js"></script>
    <script src="app.js"></script>
</body>

<script id="search-form-template" type="text/x-handlebars-template">
	<div class="search-field col-md-6">
		<div class="form-horizontal thumbnail">
			<fieldset>

				<!-- Form Name -->
				<legend class="text-bold text-center">
					<h2>{{formName}}</h2>
				</legend>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-2 control-label" for="fn">From</label>  
					<div class="col-md-8">
						<select id="fn" placeholder="Start from..." class="js-data-example-ajax"></select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label" for="dest">To</label>  
					<div class="col-md-8">
						<select id="dest" placeholder="Destination place" class="js-data-example-ajax"></select>
					</div>
				</div>
				
				<hr/>
				
				<div style="overflow:hidden;">
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<div id="datetimepicker12"></div>
							</div>
						</div>
					</div>
				</div>
				
				<button class="btn btn-default default1">Search</button>
				
				
			</fieldset>
		</div>
	</div>  
</script>    

</html>